
.wrapper{
    width:800px;
}

.card{
    border: 2px solid #8b8888;
    padding: 20px 30px;
    border-radius: 10px;
    //display: grid;
    //grid-template-columns: 200px minmax(100px, 700px);
}

.user{
    display: flex;
}

.btn-delete{
    color: red;
}
